<div class="container-fluid hide-on-login">
    <div class="d-flex justify-content-between align-items-center bg-light">
        <h1 class="ms-0 my-1 fs-4">ft_transcendance</h1>
        <div class="d-flex align-items-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link fs-6 custom-black" href="#">About</a>
                </li>
            </ul>
            <a class="btn btn-primary me-3 my-2 fs-6 play-game-btn">Play Game <i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="ms-0 my-1 fs-10">ft_transcendance <i class="fa-solid fa-table-tennis-paddle-ball"></i></h1>
    </div>
    <a class="btn btn-primary me-3 my-2 fs-6 play-game-btn2">2P <i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
    <a class="btn btn-primary me-3 my-2 fs-6 play-game-btn4">4P <i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
</div>
