body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.navbar-custom {
    background-color: rgba(42, 42, 42, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0.85;
}
.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: white;
}
.navbar-custom .nav-link:hover {
    color: black;
}
.navbar-brand img {
    height: 35px;
    width: auto;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-black {
    color: black !important; /* 'important'는 기존의 Bootstrap 스타일을 무시하기 위해 사용 */
}